* {
    margin: 100;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #291B25;
    color: #F6F6E9;
    font-weight: bolder;
}

.start_btn, .rules-box, .quiz-box, .quiz-score {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rules-box.activeInfo,
.quiz-box.activeQuiz {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button {
    font-size: 25px;
    font-weight: bold;
    color: #291B25;
    padding: 15px 30px;
    outline: none;
    border: 1px solid #61A6AB;
    border-radius: 5px;
    background: #61a6ab73;
    cursor: pointer;
}

.start_btn button:hover {
    color: #291B25;
    background: #61A6AB;
    border-color: #61A6AB;
}


.rules-box{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    width: 540px;
    background-color: #F6F6E9;
    color: #291B25;
    border-radius: 5px;
}

.rules-list {
    list-style: none;
    line-height: 1.5;
}

.rules-box .rules-title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #291B25;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 40px;
    font-weight: bold;
}

.rules-box .rules-list {
    padding: 15px 35px;
}

.rules-box .rules-list .rules {
    margin: 5px;
    font-size: 20px;

}

.rules-box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid #291B25;
}

.rules-box .buttons button {
    margin: 0 5px;
    height: 50px;
    width: 110px;
    border: 1px solid #61A6AB;
    background-color: #61a6ab73;
    color: #291B25;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.rules-box .buttons button:hover {
    color: #291B25;
    background: #61A6AB;
    border-color: #61A6AB;
}

.quiz-box {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    width: 540px;
    background-color: #F6F6E9;
    color: #291B25;
    border-radius: 5px;
}

.quiz-box header {
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 35px;
    background-color: #F6F6E9;
    color: #291B25;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.quiz-box header .quiz-title {
    font-size: 20px;
    font-weight: bold;
}

.quiz-box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background-color: #61a6ab73;
    border: 1px solid #61a6ab73;
    border-radius: 5px;
    padding: 0 8px;
}

.quiz-box header .timer .time-text {
    font-weight: bold;
    font-size: 17px;
    user-select: none;
}

.quiz-box header .timer .time-count {
    font-size: 18px;
    font-weight: bold;
    background-color: #291B25;
    height: 30px;
    width: 45px;
    color: #F6F6E9;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #291B25;
    user-select: none;
}

.quiz-box section {
    padding: 25px 30px 20px 30px;
    background: #F6F6E9;
}

.quiz-box section .quiz-question {
    font-size: 25px;
    font-weight: bold;
}

.quiz-box section .quiz-options {
    padding: 20px 0;
    display: block;
}

section .quiz-options .option {
    font-size: 17px;
    background: #61a6ab73;
    border: 1px solid #61A6AB;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

section .quiz-options .option:hover {
    color: #291B25;
    background: #61A6AB;
    border-color: #61A6AB;
}

.quiz-options .option:last-child {
    margin-bottom: 0px;
}

.quiz-box footer{
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-box footer .total-score span{
    display: flex;
    user-select: none;
}

.quiz-box footer .total-score span p{
    font-weight: bold;
    padding: 0 5px;
}

footer .total-score span p:first-child{
    padding-left: 0px;
}

footer .next-btn{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #61A6AB;
    outline: none;
    background-color: #61a6ab73;
    color: #291B25;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .next-btn:hover{
    color: #291B25;
    background: #61A6AB;
    border-color: #61A6AB;
}

.quiz-score {
    background-color: #F6F6E9;
    color: #291B25;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.quiz-score .done-text {
    font-size: 20px;
    font-weight: bold;
}

.quiz-score .score-text span {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.score-text span p {
    font-weight: bold;
    padding: 0 4px;
}

.quiz-score .buttons {
    display: flex;
    margin: 20px 0;
}

.quiz-score .buttons button{
    margin: 0 10px;
    height: 40px;
    padding: 0 20px;
    border: 1px solid #61A6AB;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #61a6ab73;
    cursor: pointer;
    transition: all 0.3s ease;
}

.quiz-score .buttons button:hover{
    color: #291B25;
    background: #61A6AB;
    border-color: #61A6AB;
}